<% provide(:title,"Editing Genres") %>
<h1>genres#edit</h1>
<h1> Edit the  Genre's here </h1>
<%= render 'form' %>
<div>
	<%= link_to "Home",root_path,class: "btn btn-info" %> <%= link_to "New Genre",new_genre_path,class: "btn btn-info" %> <%= link_to "Back",genres_path,class: "btn btn-info" %>
</div>