<% provide(:title, "New Genre") %>
<h1>genres#new</h1>
<h1> Add new Genre's here </h1>

<%= render 'form' %>

<div>
	<%= link_to "Home", root_path, class: "btn btn-info" %> <%= link_to "Back", genres_path, class: "btn btn-info" %>
</div>