<% provide(:title, "Editing Language")%>
<h1>languages#edit</h1>
<h1>Edit Language here</h1>
<div class="divCenterAlign hero-unit">
	<%= render 'form' %>
</div>
<%= link_to "Home", root_path, class: "btn btn-info" %> <%= link_to "Back", languages_path, class: "btn btn-info" %>