<% provide(:title, "New Language")%>
<h1>languages#new</h1>
<h1>Add new Language here</h1>
<div class="hero-unit divCenterAlign">
	<%= render 'form' %>
</div>
<%= link_to "Home", root_path, class: "btn btn-info" %> <%= link_to "List Languages", languages_path, class: "btn btn-info" %>